<!DOCTYPE html>

<html lang="en">

<head>
	<!--캘린더-->
	<style>
		body {
			margin: 40px 10px;
			padding: 0;
			font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
			font-size: 14px;
		}

		#calendar {
			max-width: 1100px;
			margin: 0 auto;
		}
	</style>
	<!-- 오픈 소스 CSS-->
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" type="text/css" href="/css/vendor.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/app.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/nv.d3.css" />
	<!--Calendar js-->
	
	<!-- 오픈 소스 JavaScript -->
	<script src="/js/d3.min.js"></script>
	<script src="/js/nv.d3.min.js"></script>
	<script src="/js/vendor.min.js"></script>
	<script src="/js/app.min.js"></script>
	<script src='/js/index.global.js'></script>
	
	

	
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<title>Color Admin | HTML Startup</title>
	
	<script>
        // 배열을 사용하여 데이터를 저장할 수 있습니다.
        var data = [];

        // 추가 버튼 클릭 시 데이터를 저장하도록 이벤트 핸들러를 연결합니다.
        document.getElementById("addButton").addEventListener("click", function () {
            var inputData = document.getElementById("dataInput").value;
            data.push(inputData);
            document.getElementById("dataInput").value = ""; // 입력 필드 초기화
            displayData();
        });

        // 데이터를 표시하는 함수
        function displayData() {
            var display = document.getElementById("displayData");
            display.innerHTML = "Data: " + data.join(", ");
        }
    </script>
</head>

<body>
	<!-- BEGIN #app -->
	<div id="app" class="app app-header-fixed app-sidebar-fixed app-with-wide-sidebar app-with-light-sidebar">
		<!-- BEGIN #header -->
		<div id="header" class="app-header">
			<!-- BEGIN navbar-header -->
			<div class="navbar-header">
				<button type="button" class="navbar-desktop-toggler" data-toggle="app-sidebar-minify">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="view.ejs" class="navbar-brand">
					<b class="me-1">Color</b> Admin
					<span class="navbar-logo">
						<span class="text-blue">G</span>
						<span class="text-red">o</span>
						<span class="text-orange">o</span>
						<span class="text-blue">g</span>
						<span class="text-green">l</span>
						<span class="text-red">e</span>
					</span>
				</a>
				<button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- END navbar-header -->
			<!-- BEGIN header-nav -->
			<div class="navbar-nav">
				<div class="navbar-item navbar-form">
					<div class="form-group">
						<input type="text" class="form-control" placeholder='Try searching "Users Today"' />
						<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
					</div>
				</div>
				<div class="navbar-item dropdown">
					<a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle icon">
						<i class="fa fa-bell"></i>
						<span class="badge">0</span>
					</a>
					<div class="dropdown-menu media-list dropdown-menu-end">
						<div class="dropdown-header">NOTIFICATIONS (0)</div>
						<div class="text-center w-300px py-3">
							No notification found
						</div>
					</div>
				</div>
				<div class="navbar-item navbar-user dropdown">
					<a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
						<div class="image image-icon bg-gray-800 text-gray-600">
							<i class="fa fa-user"></i>
						</div>
						<span class="d-none d-md-inline">Adam Schwartz</span> <b class="caret ms-lg-2"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-end me-1">
						<a href="javascript:;" class="dropdown-item">Edit Profile</a>
						<a href="javascript:;" class="dropdown-item d-flex align-items-center">
							Inbox
							<span class="badge bg-danger rounded-pill ms-auto pt-5px">2</span>
						</a>
						<a href="javascript:;" class="dropdown-item">Calendar</a>
						<a href="javascript:;" class="dropdown-item">Setting</a>
						<div class="dropdown-divider"></div>
						<a href="javascript:;" class="dropdown-item">Log Out</a>
					</div>
				</div>
			</div>
			<!-- END header-nav -->
		</div>
		<!-- END #header -->
		<!-- BEGIN #sidebar -->
		<div id="sidebar" class="app-sidebar">
			<!-- BEGIN scrollbar -->
			<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
				<!-- BEGIN menu -->
				<div class="menu">
					<div class="menu-profile">
						<a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile"
							data-target="#appSidebarProfileMenu">
							<div class="menu-profile-cover with-shadow"></div>
							<div class="menu-profile-image menu-profile-image-icon bg-gray-900 text-gray-600">
								<i class="fa fa-user fs-48px mb-n4"></i>
							</div>
							<div class="menu-profile-info">
								<div class="d-flex align-items-center">
									<div class="flex-grow-1">
										지현석
									</div>
									<div class="menu-caret ms-auto"></div>
								</div>
								<small>Front end developer</small>
							</div>
						</a>
					</div>
					<div id="appSidebarProfileMenu" class="collapse">
						<div class="menu-item pt-5px">
							<a href="javascript:;" class="menu-link">
								<div class="menu-icon"><i class="fa fa-cog"></i></div>
								<div class="menu-text">Settings</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="javascript:;" class="menu-link">
								<div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
								<div class="menu-text"> Send Feedback</div>
							</a>
						</div>
						<div class="menu-item pb-5px">
							<a href="javascript:;" class="menu-link">
								<div class="menu-icon"><i class="fa fa-question-circle"></i></div>
								<div class="menu-text"> Helps</div>
							</a>
						</div>
						<div class="menu-divider m-0"></div>
					</div>
					<div class="menu-header">Navigation</div>
					<div class="menu-item active">
						<a href="index.html" class="menu-link">
							<div class="menu-icon">
								<i class="material-icons">home</i>
							</div>
							<div class="menu-text">매출 관리 리스트</div>
						</a>
					</div>

					<div class="menu-item has-sub">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon">
								<i class="material-icons">list</i>
							</div>
							<div class="menu-text">Menu Level</div>
							<div class="menu-caret"></div>
						</a>
						<div class="menu-submenu">
							<div class="menu-item has-sub">
								<a href="javascript:;" class="menu-link">
									<div class="menu-text">Menu 1.1</div>
									<div class="menu-caret"></div>
								</a>
								<div class="menu-submenu">
									<div class="menu-item has-sub">
										<a href="javascript:;" class="menu-link">
											<div class="menu-text">Menu 2.1</div>
											<div class="menu-caret"></div>
										</a>
										<div class="menu-submenu">
											<div class="menu-item"><a href="javascript:;" class="menu-link">
													<div class="menu-text">Menu 3.1</div>
												</a></div>
											<div class="menu-item"><a href="javascript:;" class="menu-link">
													<div class="menu-text">Menu 3.2</div>
												</a></div>
										</div>
									</div>
									<div class="menu-item"><a href="javascript:;" class="menu-link">
											<div class="menu-text">Menu 2.2</div>
										</a></div>
									<div class="menu-item"><a href="javascript:;" class="menu-link">
											<div class="menu-text">Menu 2.3</div>
										</a></div>
								</div>
							</div>
							<div class="menu-item"><a href="javascript:;" class="menu-link">
									<div class="menu-text">Menu 1.2</div>
								</a></div>
							<div class="menu-item"><a href="javascript:;" class="menu-link">
									<div class="menu-text">Menu 1.3</div>
								</a></div>
						</div>
					</div>
				</div>
				<!-- END menu -->
			</div>
			<!-- END scrollbar -->
		</div>
		<div class="app-sidebar-bg"></div>
		<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile"
				class="stretched-link"></a></div>
		<!-- END #sidebar -->

		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			<!-- BEGIN breadcrumb -->
			<ol class="breadcrumb float-xl-end">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Library</a></li>
				<li class="breadcrumb-item active">Data</li>
			</ol>
			<!-- END breadcrumb -->
			<!-- BEGIN page-header -->
			<h1 class="page-header">매출관리표 <small>header small text goes here...</small></h1>
			<!-- END page-header -->

			<!-- BEGIN panel -->
			<div class="panel panel-inverse panel-with-tabs">
				<div class="panel-heading p-0">
					<div class="tab-overflow">
						<ul class="nav nav-tabs nav-tabs-inverse">
							<li class="nav-item prev-button"><a href="javascript:;" data-click="prev-tab"
									class="nav-link text-primary"><i class="fa fa-arrow-left"></i></a></li>
							<li class="nav-item">
								<a href="#nav-tab-1" data-bs-toggle="tab" class="nav-link " onclick="mv1()">Nav Tab 1</a>
							</li>
							<li class="nav-item">
								<a href="#nav-tab-2" data-bs-toggle="tab" class="nav-link active">Nav Tab 2</a>
							</li>
							<li class="nav-item">
								<a href="#nav-tab-3" data-bs-toggle="tab" class="nav-link "onclick="mv3()">Nav Tab 3</a>
							</li>
							<li class="nav-item">
								<a href="#nav-tab-4" data-bs-toggle="tab" class="nav-link " onclick="mv4()">Nav Tab 4</a>
							</li>
							<li class="nav-item">
								<a href="#nav-tab-5" data-bs-toggle="tab" class="nav-link ">Nav Tab 5</a>
							</li>
							<li class="nav-item next-button"><a href="javascript:;" data-click="next-tab"
									class="nav-link text-primary"><i class="fa fa-arrow-right"></i></a></li>
						</ul>
					</div>
					<div class="panel-heading-btn me-2 ms-2 d-flex">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-secondary"
							data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
					</div>
				</div>
				<!-- 매출 내역 -->
				<div class="panel-body tab-content">
					<div class="tab-pane fade active show" id="nav-tab-2">
                        <form action = "/estimate" method = "get">
							<div class="d-flex">
								<div class="btn-group">
									<select name="selectedMonth" class="form-select">
										<option value="">전체 조회</option>
										<option value="1" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '1') { %>selected<% } %>>1월</option>
										<option value="2" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '2') { %>selected<% } %>>2월</option>
										<option value="3" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '3') { %>selected<% } %>>3월</option>
										<option value="4" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '4') { %>selected<% } %>>4월</option>
										<option value="5" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '5') { %>selected<% } %>>5월</option>
										<option value="6" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '6') { %>selected<% } %>>6월</option>
										<option value="7" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '7') { %>selected<% } %>>7월</option>
										<option value="8" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '8') { %>selected<% } %>>8월</option>
										<option value="9" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '9') { %>selected<% } %>>9월</option>
										<option value="10" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '10') { %>selected<% } %>>10월</option>
										<option value="11" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '11') { %>selected<% } %>>11월</option>
										<option value="12" <% if (typeof selectedMonth !== 'undefined' && selectedMonth === '12') { %>selected<% } %>>12월</option>
									</select>									
								</div>
								<div>
									<button type="submit" class="btn btn-primary">조회</button>
								</div>
							</div>
						</form>
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">순서</th>
									<th scope="col">날짜</th>
									<th scope="col">매출 항목</th>
									<th scope="col">비용</th>
									<th scope="col">기타</th>
								</tr>
							</thead>
							<tbody>
								<% for (var i = 0; i < result_data.length; i++) { %>
									<% if (result_data[i].ITEM === "매출") { %>
									<tr>
										<th scope="row">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="<%= result_data[i].ID %>" id="checkbox_<%= i %>">
										</div>
										</th>
										<td><%= result_data[i].Month_Data%></td>
										<td><%= result_data[i].Separtes_Item%></td>
										<td><%= result_data[i].FEE%></td>
										<td><%= result_data[i].MEMO%></td>
									</tr>
									<% } %>
								<% } %>
							</tbody>
							<thead>
								<tr>
									<th scope="col">순서</th>
									<th scope="col">날짜</th>
									<th scope="col">매입 항목</th>
									<th scope="col">비용</th>
									<th scope="col">기타</th>
								</tr>
							</thead>
							<tbody>
								<% for (var i = 0; i < result_data.length; i++) { %>
									<% if (result_data[i].ITEM === "매입") { %>
									<tr>
										<th scope="row">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="<%= result_data[i].ID %>" id="checkbox_<%= i %>">
										</div>
										</th>
										<td><%= result_data[i].Month_Data%></td>
										<td><%= result_data[i].Separtes_Item%></td>
										<td><%= result_data[i].FEE%></td>
										<td><%= result_data[i].MEMO%></td>
									</tr>
									<% } %>
								<% } %>
							</tbody>
						</table>
						<div style="float: right;">
							<input type="hidden" id="selectedId" value="[]">
							<button type="button" class="btn btn-secondary position-relative"
								data-bs-toggle="modal"  onclick="openModal()">수정</button>
							<button type="button" class="btn btn-danger" onclick="deleteSelectedData()">삭제</button>
                            <form action="/delete" method="POST" id="deleteForm">
                                <input type="hidden" name="selectedIds" id="selectedIds" value="[]"> <!-- 선택된 ID 배열을 초기에 빈 배열로 설정 -->
                            </form>
						</div>
					</div>
                    <!-- modal 창 -->
                    <div class="modal fade  modal-xl" id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
							<div class="modal-body">
								<form id="editForm">
									<table class="table">
										<thead>
											<tr>
												<th>날짜</th>
												<th>매출 항목</th>
												<th>비용</th>
												<th>기타</th>
											</tr>
										</thead>
										<tbody id="tableData"></tbody>
									</table>
								</form>
							</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
					<!--모델 창 Script-->
					<script>
						function openModal() {
							
							var checkboxes = document.querySelectorAll('.form-check-input:checked');
							var selectedId = [];
					
							checkboxes.forEach(function (checkbox) {
								selectedId.push(checkbox.value);
							});
					
							if (selectedId.length === 0) {
								alert('수정할 데이터를 선택하세요.');
								return;
							} else {
								// 선택된 ID를 서버로 전송하고, 데이터를 가져오는 함수 호출
								loadDataForEditing(selectedId);
							}
						}
					
						function loadDataForEditing(selectedId) {
							// 선택된 ID 배열을 서버로 전송
							fetch(`/get_data?selectedIds=${selectedId.join(',')}`, {
								method: 'GET',
								headers: {
									'Content-Type': 'application/json'
								}
							})
							.then(response => response.json()) // 서버에서 응답을 JSON으로 파싱
							.then(data => {
								// 모달 창에 데이터 표시
								populateModalWithData(data);
							})
							.catch(error => console.error('데이터를 가져오는 중 오류 발생:', error));
						}

						function populateModalWithData(data) {
							var tableData = document.getElementById('tableData');
							tableData.innerHTML = ''; // 기존 데이터를 지우기

							// data를 반복하며 테이블에 추가
							for (var i = 0; i < data.length; i++) {
								var row = document.createElement('tr');

								var dateCell = document.createElement('td');
								var dateInput = document.createElement('input');
								dateInput.type = 'month'; // 월(Month) 입력 필드
								dateInput.value = data[i].Month_Data;
								dateCell.appendChild(dateInput);
								row.appendChild(dateCell);

								var itemCell = document.createElement('td');
								var itemInput = document.createElement('input');
								itemInput.type = 'text';
								itemInput.value = data[i].Separtes_Item;
								itemCell.appendChild(itemInput);
								row.appendChild(itemCell);

								var costCell = document.createElement('td');
								var costInput = document.createElement('input');
								costInput.type = 'number';
								costInput.value = data[i].FEE;
								costCell.appendChild(costInput);
								row.appendChild(costCell);

								var memoCell = document.createElement('td');
								var memoInput = document.createElement('input');
								memoInput.type = 'text';
								memoInput.value = data[i].MEMO;
								memoCell.appendChild(memoInput);
								row.appendChild(memoCell);

								tableData.appendChild(row);
							}

							// 모달 창을 표시
							$('#exampleModal').modal('show');
						}

						function saveChanges() {
							var tableData = document.getElementById('tableData');
							var rows = tableData.getElementsByTagName('tr');
							var updatedData = [];
							
							var checkboxes = document.querySelectorAll('.form-check-input:checked');
							var selectedId = [];
					
							checkboxes.forEach(function (checkbox) {
								selectedId.push(checkbox.value);
							});

							for (var i = 0; i < rows.length; i++) {
								var row = rows[i];
								var cells = row.getElementsByTagName('td');

								var ID = selectedId[i];
								var dateInput = cells[0].getElementsByTagName('input')[0].value;
								var itemInput = cells[1].getElementsByTagName('input')[0].value;
								var costInput = parseFloat(cells[2].getElementsByTagName('input')[0].value);
								var memoInput = cells[3].getElementsByTagName('input')[0].value;

								var updatedRow = {
									ID : ID,
									Month_Data: dateInput,
									Separtes_Item: itemInput,
									FEE: costInput,
									MEMO: memoInput
								};

								updatedData.push(updatedRow);
							}

							// 수정된 데이터를 JSON 문자열로 변환
							var dataString = JSON.stringify(updatedData);
							// 데이터를 파일에 기록
							
							// JSON 문자열을 서버로 보냄
							fetch('/update', {
								method: 'POST',
								headers: {
									'Content-Type': 'application/json'
								},
								body: dataString
							})
							.then(response => response.json())
							.then(data => {
								if (data.success) {
									// 수정이 성공한 경우 모달 창을 닫습니다.
									$('#exampleModal').modal('hide');
									// 수정 후 /view_tab_2 페이지로 이동
									location.href = "/view_tab_2";
								} else {
									alert('데이터를 업데이트하는 중 오류가 발생했습니다.');
								}
							})
							.catch(error => console.error('데이터를 업데이트하는 중 오류 발생:', error));
							$('#exampleModal').modal('hide');
							location.href = "/view_tab_2";
						}
					</script>
				</div>

			</div>
		</div>
		<!-- END panel -->
	</div>
	<!-- END #content -->
    <script>
        function mv1() {
            location.href = "/view"
        }
        function mv3() {
            location.href = "/view_tab_3"
        }
		function mv4() {
			location.href = "/view_tab_4"
		}
    </script>
    <script>
        var selectedIds = [];

       // 삭제 버튼 클릭 시 호출되는 함수
       function deleteSelectedData() {
           var checkboxes = document.querySelectorAll('.form-check-input:checked');

           // 선택된 체크박스의 값을 selectedIds 배열에 추가
           checkboxes.forEach(function (checkbox) {
               selectedIds.push(checkbox.value);
           });

           if (selectedIds.length === 0) {
               alert('삭제할 데이터를 선택하세요.');
               return;
           }

           // 선택된 ID 배열을 hidden input에 설정
           document.getElementById('selectedIds').value = JSON.stringify(selectedIds);

           // 폼을 서버로 제출
           document.getElementById('deleteForm').submit();
       }
   </script>
    <script>
        document.getElementById('submitButton').addEventListener('click', function() {
            var feeInput = document.getElementById('floatingInputValue');
            var feeValue = feeInput.value;

            // 숫자 이외의 값이 입력되었는지 확인
            if (!/^\d+$/.test(feeValue)) {
                alert('숫자만 입력하세요!');
                feeInput.value = ''; // 입력 값 지우기
                return false; // 폼 제출 방지
            }
        });
    </script>
	<!-- BEGIN scroll to top btn -->
	<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top" data-toggle="scroll-to-top"><i
			class="fa fa-angle-up"></i></a>
	<!-- END scroll to top btn -->
	</div>
</body>
</html>